{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-position{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="button-container">
            <button onclick="window.location='{{ .Site.BaseURL }}/career'" class="back-button">	&larr; Back</button>
            <hr class="header-underline">
        </div>
        <div class="content">
            <div class="title">Mobile Developer</div>
            <div class="location">DENVER, CO</div>
            <div class="term">FULL-TIME</div>
        </div>
            <div class="content">RealEyes Media seeks a whip-smart, organized, talented, detailed, even-keeled, and über-dedicated native mobile application developer to join our team.  Candidates must be proactive and naturally at home in an organic, team-centered environment.</div>
            <div class="content">We are a fun, thriving, internationally-recognized streaming media development firm specializing in interactive application development using emerging technologies.  Our work ranges from powerful administrative interfaces to major sports/entertainment & enterprise applications that support millions of users. Our clients include NBC Sports, Oracle, EA Games, Viacom, IBM and many others. Our applications focus on video-centric experiences, so if you like streaming video this is a good place for you.</div>

            <h3 class="content">Developer candidates MUST have:</h3>
            <div class="content">
                <ul>
                    <li>Ability to work onsite, full time at RealEyes Media in Denver, CO</li>
                    <li>Solid knowledge of OOP principles and code architecture</li>
                    <li>Solid knowledge of at least one native mobile development language (Java/Kotlin/Obj-C/Swift)</li>
                    <li>Exceptional written and verbal communication skills</li>
                    <li>Experience with Agile development processes</li>
                    <li>Ability to generate requirements, estimates and plans for projects</li>
                    <li>Ability to work with teams or as an individual</li>
                    <li>Strong analytical and creative problem solving skills to resolve highly complex software design issues and create new software for one or more products</li>
                    <li>Capable of dealing effectively with change</li>
                    <li>3+ years experience working as a developer on a team</li>
                    <li>Must be able to pass a state & federal background check</li>
                </ul>
            </div>
            <h3 class="content">The following are bonus:</h3>
                <div class="content">
                    <ul>
                    <li>Real world experience with both iOS development and Android development</li>
                    <li>Familiar with Google Chromecast library</li>
                    <li>Experience with in app purchasing logic and requirements</li>
                    <li>Working knowledge of video players (e.g. ExoPlayer, MediaFoundation)</li>
                    <li>Knowledge of video streaming protocols (HLS, DASH, etc)</li>
                    <li>Knowledge of streaming servers (AMS, Wowza, etc)</li>
                    <li>Knowledge of media tools (FFMPEG, Bento4, etc)</li>
                    <li>Experience with Adobe Experience Manager 6.x development</li>
                    <li>Experience with Server-side Java and creating APIs</li>
                    <li>Experience with Java frameworks (e.g. OSGI, Spring, Grails)</li>
                    <li>Experience with Angular JS & full stack development</li>
                    <li>Experience with Node.JS</li>
                    </ul>
                </div>
                <h3 class="content">If you are an Android dev, this is what we’re looking for:</h3>
                <div class="content">
                    <ul>
                        <li>2+ years of real world Android mobile development skills (Java or Kotlin)</li>
                        <li>Knowledge of application submission & distribution through the store</li>
                    </ul>
                </div>
                <h3 class="content">If you are an iOS/TVOS dev, this is what we’re looking for:</h3>
                <div class="content">
                    <ul>
                        <li>3+ years of real world Objective C/Swift skills (Swift preferred)</li>
                        <li>Knowledge of application submission distribution through the store</li>
                    </ul>
                </div>
                <h3 class="content">Potential Responsibilities</h3>
                <div class="content">
                    <ul>
                        <li>Code native mobile and set-top device applications</li>
                        <li>Work in a variety of development frameworks</li>
                        <li>Potentially provide development support to the Java or JavaScript teams during spare cycles</li>
                        <li>Work with data models sourced from JSON, XML, and DB queries</li>
                        <li>Work in a DevOps and Agile software development environment with CI and CD.</li>
                        <li>Analyze, review and modify web systems by designing, maintaining, documenting, testing, developing and monitoring</li>
                    </ul>
                </div>
                <div class="content">If you are interested and qualified, please contact us.</div>
                <div class="content">RealEyes  is an Equal Opportunity Employer. All qualified applicants will receive consideration for employment without regard to race, color, religion, sex, sexual orientation, gender identity, national origin, or protected veteran status and will not be discriminated against on the basis of disability.</div>
                <div class="content out-of-state">Please, no out of state/country applicants or third parties - yes that means you recruiters! Local candidates preferred. Unable to sponsor visas. Candidate's authorized to work without sponsorship are encouraged to apply.</div>
                <div class="content bottom-apply">
                    <button onclick="window.location='{{ .Site.BaseURL }}/contact#myForm'" class="apply-button">Apply</button>
                </div>  
            </div>
        </div>
      </div>
</div>

{{end}}
