{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-career{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container-fluid bottom-container mobile-hide-footer">
    <div class="row">
        <div class="col-12">
            <button class="back-button">Back</button>
            <div class="title">Mobile Developer</div>
            <div class="location">DENVER, CO</div>
            <div class="term">FULL-TIME</div>
        </div>
      </div>
</div>

{{end}}
