{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-career{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container-fluid bottom-container mobile-hide-footer">
    <div class="row">
        <div class="col-12">
            <button class="back-button">Back</button>
        <div class="position">
            <div class="title">Mobile Developer</div>
            <div class="location">DENVER, CO</div>
            <div class="term">FULL-TIME</div>
        </div>
            <div class="content">RealEyes Media seeks a whip-smart, organized, talented, detailed, even-keeled, and über-dedicated native mobile application developer to join our team.  Candidates must be proactive and naturally at home in an organic, team-centered environment.</div>
            <div class="content">We are a fun, thriving, internationally-recognized streaming media development firm specializing in interactive application development using emerging technologies.  Our work ranges from powerful administrative interfaces to major sports/entertainment & enterprise applications that support millions of users. Our clients include NBC Sports, Oracle, EA Games, Viacom, IBM and many others. Our applications focus on video-centric experiences, so if you like streaming video this is a good place for you.</div>

        </div>
      </div>
</div>

{{end}}
