<div class="hero-image hero-image-setheight" style="background-color: black" ;>
    <div class="container-fluid pl-md-6 pl-3 pr-3 blog-header">
        <ul class="list-inline blog-categories">
            <li class="list-inline-item all-tax category active" id="profile">All</button>
                {{ range $name, $tax := .categories }}
            <li class="list-inline-item {{ $name }} category blog-category" id="profile">{{ $name }}</button>
                {{ end }}
        </ul>
        <div class="search">
            <input type="text" placeholder="Search...">
            <div class="icon"></div>
        </div>
    </div>
</div>
{{ .Site.BaseURL }}