<div id="career" class="hero-image hero-image-fullscreen" style="background-image: url('{{ .background | relURL }}')">
        <div class="container-fluid innerContainer">
            <div class="row">
            <div class="col-12 col-md-6">
          <div class="career-text">
            <span class="career-section">{{ .title }}</span>
            <h1 class="heading">{{ .heading }}</h1>
            <h1 class="subHeading">{{.subheading}}</h1>
          </br>
            <p class="content">{{ .subheading1}}</p>
          </div>
          </div>
        </div>
        </div>
      </div>
