<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  
<div class="container-fluid">
    <div class="row">
    <div class="col-12 no-padding">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent">"We are consistently working on improving the streaming experience for our viewers. With these new tools
                                and through our strategic partnership with RealEyes, fans streaming NHL games on Live Extra have more real-time
                                information at their fingertips than ever before."</h3>
                                <p class="author"><span class="authorColor">Jack Jackson</span>, VP, Product Development, NBC Sports Group</p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent">"We are consistently working on improving the streaming experience for our viewers. With these new tools
                                and through our strategic partnership with RealEyes, fans streaming NHL games on Live Extra have more real-time
                                information at their fingertips than ever before."</h3>
                                <p class="author"><span class="authorColor">Jack Jackson</span>, VP, Product Development, NBC Sports Group</p>
    </div>
    <div class="carousel-item">
                    <h2 class="slideTitle">What Our Customers Are Saying</h2>
                    <h3 class="slideContent">"We are consistently working on improving the streaming experience for our viewers. With these new tools
                    and through our strategic partnership with RealEyes, fans streaming NHL games on Live Extra have more real-time
                    information at their fingertips than ever before."</h3>
                    <p class="author"><span class="authorColor">Jack Jackson</span>, VP, Product Development, NBC Sports Group</p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent">"We are consistently working on improving the streaming experience for our viewers. With these new tools
                                and through our strategic partnership with RealEyes, fans streaming NHL games on Live Extra have more real-time
                                information at their fingertips than ever before."</h3>
                                <p class="author"><span class="authorColor">Jack Jackson</span>, VP, Product Development, NBC Sports Group</p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent">"We are consistently working on improving the streaming experience for our viewers. With these new tools
                                and through our strategic partnership with RealEyes, fans streaming NHL games on Live Extra have more real-time
                                information at their fingertips than ever before."</h3>
                                <p class="author"><span class="authorColor">Jack Jackson</span>, VP, Product Development, NBC Sports Group</p>
    </div>
  </div>
  <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ul>
  
</div>
</div>
</div>
</div>



