<div class="container-fluid">
    <div class="row">
    <div class="col-12 no-padding">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent"></h3>
                                <p class="author"><span class="authorColor"></span></p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent"></h3>
                                <p class="author"><span class="authorColor"></span></p>
    </div>
    <div class="carousel-item">
                    <h2 class="slideTitle">What Our Customers Are Saying</h2>
                    <h3 class="slideContent"></h3>
                    <p class="author"><span class="authorColor"></span></p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent"></h3>
                                <p class="author"><span class="authorColor"></span></p>
    </div>
    <div class="carousel-item">
                            <h2 class="slideTitle">What Our Customers Are Saying</h2>
                            <h3 class="slideContent"></h3>
                                <p class="author"><span class="authorColor"></span></p>
    </div>
  </div>
  <ul class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ul>
  
</div>
</div>
</div>
</div>



