<div class="case-study-image case-image-fullscreen">
    <div class="container-fluid">
        <div class="row top">
            <div class="col-12 col-md-7">
                <div class="case-text">
                    <span class="case-section">{{ .section }}</span>
                    <h1>{{ .heading1 }}</h1>
                    <h2>{{ .heading2 }}</h2>
                    <p>{{ .subheading }}</p>
                    <div>{{ .description }}</div>
                </div> 
            </div>
            <div class="col-12 col-md-5">
                <div class="study-info">
                    <h1>Timeline</h1>
                    <div>3 Months</div>
                    <h1>Platforms</h1>
                    <div>Mobile Web</div>
                    <div>Native Android</div>
                    <div>Native iOS</div>
                    <h1>Deliverables</h1>
                    <div>Ipsum Text</div>
                </div>
            </div>          
        </div>
    </div>
{{ .Site.BaseURL }}