<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 columns">
        <div class="footer-inner">
          <div class="top">
            <h2>Work with RealEyes</h2>
            <a href="{{ .Site.BaseURL }}/who" class="top-button">Contact Us &rarr;</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 columns">
        <div class="footer-inner">
          <div class="bottom">
            <h2>Articles & Updates</h2>
            <a href="{{ .Site.BaseURL }}/case-studies/nbc-sports" class="bottom-button">Read Them &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>