<div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-6 columns">
              <div class="footer-inner">
                <div class="top">
                  <h2>Work with RealEyes</h2>
                  <button class="button">Contact Us</button>
              </div>
            </div>
            </div>
            <div class="col-12 col-lg-6 columns">
                <div class="footer-inner">
                  <div class="bottom">
                    <h2>Articles & Updates</h2>
                    <button class="button">Read Them</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>