<div class="hero-image hero-image-fullscreen">
  <!-- <video autoplay loop id="video-background" muted>
    <source src="{{ .Site.BaseURL}}/images/Sport Seq_v2_1.mp4" type="video/mp4" />
  </video> -->
  <div class="container-fluid pl-md-6 pt-0">
    <div class="hero-text-video hero-text-left">
      <span class="hero-section">{{ .section }}</span>
      <h1 class="hero-header-green">{{ .heading }}</h1>
      <h1>{{ .subheading }}</h1>
      <p>{{ .serviceOne }} &nbsp; &bull; &nbsp; {{ .serviceTwo }} &nbsp; &bull; &nbsp; {{ .serviceThree }}</p>
    </div>
  </div>
</div>
{{ .Site.BaseURL }}