<div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="sub-footer-inner">
                <div class="streamIt">
                <p class="mainTitle">Stream it like you mea-</p>
              </div>
              <hr class="hr">
              </div>
              <div class="sub-footer-bottom">
                <p>2019 REALEYES - All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
      </div>