<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="sub-footer">
        <!-- <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="sub-footer-inner">
                <div class="type-writer">
                <p class="line-1 anim-typewriter mainTitle">Stream it like you mean it.</p>
                </div>  
              <hr class="hr">
              </div>
            </div>
          </div> -->
          <div class="bottom-container mobile-hide-footer">
              <div class="row">
                  <div class="col-12">
                    <div class="sub-footer-inner">
                      <div class="type-writer">
                      <p class="line-1 anim-typewriter mainTitle">Stream it like you mean it.</p>
                      </div>  
                    <hr class="hr">
                    </div>
                  </div>
                </div>
            <div class="row">
            <div class="col-6 firstCol">
                <div class="sub-footer-inner">
                  <div class="allRights">
              <span class="bill"> &#169; 2019 REALEYES - All rights reserved</span>
            </div>
              </div>
            </div>
                <div class="col-6 secondCol">
                <div class="sub-footer-inner-bottom">
                <a href="{{ .Site.BaseURL }}/who">TEAM</a>
                <a href="{{ .Site.BaseURL }}/contact">CAREERS</a>
                <a href="{{ .Site.BaseURL }}/contact">CONTACT US</a>
                <div class="socialButtons">
                    <a href="#" class="fa fa-facebook fa-2x"></a>
                    <a href="#" class="fa fa-twitter fa-2x"></a>
                </div>
               </div>
              </div>
            </div>
         </div>

         <div class=" container-fluid bottom-container desktop-hide-footer">
            <div class="row">
                <div class="col-12">
                  <div class="sub-footer-inner">
                    <div class="type-writer">
                    <p class="line-1 anim-typewriter mainTitle">Stream it like </br> you mean it.</p>
                    </div>  
                  <hr class="hr">
                  </div>
                </div>
              </div>
          <div class="row">
          <div class="col-6 firstCol">
              <div class="sub-footer-inner-bottom">
              <a href="{{ .Site.BaseURL }}/who">TEAM</a>
              <a href="{{ .Site.BaseURL }}/contact">CAREERS</a>
              <a href="{{ .Site.BaseURL }}/contact">CONTACT US</a>
              <div class="socialButtons">
                  <a href="#" class="fa fa-facebook fa-2x"></a>
                  <a href="#" class="fa fa-twitter fa-2x"></a>
              </div>
             </div>
             <div class="sub-footer-inner">
              <div class="allRights">
          <span class="bill"> &#169; 2019 REALEYES - All rights reserved</span>
        </div>
          </div>
          </div>
       </div>
      </div>
</div>
</div>
</html>
