<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="sub-footer">
          <div class="container-fluid bottom-container mobile-hide-footer">
              <div class="row">
                  <div class="col-12">
                    <div class="sub-footer-inner">
                      <div class="type-writer">
                      <p class="line-1 anim-typewriter mainTitle">Stream it like you mean it.</p>
                      </div>  
                    <hr class="hr mx-auto">
                    </div>
                  </div>
                </div>
            <div class="row">
            <div class="col-6 firstCol">
                <div class="sub-footer-inner">
                  <div class="allRights">
              <span> &#169; 2019 REALEYES - All rights reserved</span>
            </div>
              </div>
            </div>
                <div class="col-6 secondCol">
                <div class="sub-footer-inner-bottom">
                <a class="pageLinks" href="{{ .Site.BaseURL }}/who">TEAM</a>
                <a class="pageLinks" href="{{ .Site.BaseURL }}/contact">CAREERS</a>
                <a class="pageLinks" href="{{ .Site.BaseURL }}/contact">CONTACT US</a>
                <div class="socialButtons">
                    <a href="https://www.facebook.com/realeyesmedia" class="fa fa-facebook fa-2x"></a>
                    <a href="https://twitter.com/realeyesmedia" class="fa fa-twitter fa-2x"></a>
                    <a href="https://www.instagram.com/realeyesmedia/?hl=en" class="fa fa-instagram fa-2x"></a>
                    <a href="https://www.linkedin.com/company/realeyes-media" class="fa fa-linkedin fa-2x"></a>
                </div>
               </div>
              </div>
            </div>
         </div>

         <div class="container-fluid bottom-container desktop-hide-footer">
            <div class="row">
                <div class="col-12">
                  <div class="sub-footer-inner">
                    <div class="typedtextContainer">
                    <div id="typedtext"></div>
                  </div>
                  <hr class="hr">
                  </div>
                </div>
              </div>
          <div class="row">
          <div class="col-12 firstCol">
              <div class="sub-footer-inner-bottom">
              <!-- <a class="pageLinks" href="{{ .Site.BaseURL }}/who">TEAM</a>
              <a class="pageLinks" href="{{ .Site.BaseURL }}/contact">CAREERS</a>
              <a class="pageLinks" href="{{ .Site.BaseURL }}/contact">CONTACT US</a> -->
              <div class="socialButtons">
                  <a href="https://www.facebook.com/realeyesmedia" class="fa fa-facebook fa-2x"></a>
                  <a href="https://twitter.com/realeyesmedia" class="fa fa-twitter fa-2x"></a>
                  <a href="https://www.instagram.com/realeyesmedia/?hl=en" class="fa fa-instagram fa-2x"></a>
                  <a href="https://www.linkedin.com/company/realeyes-media" class="fa fa-linkedin fa-2x"></a>
              </div>
             <!-- <div class="sub-footer-inner"> -->
              <div class="allRights">
          <span> &#169; 2019 REALEYES - All rights reserved</span>
        </div>
      </div>
          <!-- </div> -->
          </div>
       </div>
      </div>
</div>
<script>
    var aText = new Array(
    "Stream it like", 
    "you mean it."
    );
    var iSpeed = 55; 
    var iIndex = 0;
    var iArrLength = aText[0].length;
    var iScrollAt = 20;
     
    var iTextPos = 0;
    var sContents = '';
    var iRow;
     
    function typewriter()
    {
     sContents =  ' ';
     iRow = Math.max(0, iIndex-iScrollAt);
     var destination = document.getElementById("typedtext");
     var cursor = document.getElementById("cursor");
     
     while ( iRow < iIndex ) {
      sContents += aText[iRow++] + '<br />';
     }
     if (iIndex < aText.length) {
     destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos);
     }
     if ( iTextPos++ == 14 ) {
      iTextPos = 0;
      iIndex++;
      if ( iIndex < aText.length ) {
       iArrLength = aText[iIndex].length;
       setTimeout(typewriter, 80);
      } else if (iIndex === aText.length) {
        setTimeout(function() { 
        iIndex = 0;
        destination.innerHTML = "";
       typewriter();
        }, 4000);
      }
     } else {
      setTimeout(typewriter, iSpeed);
     }
}
typewriter();
    
</script>
</html>
