#myCarousel {
    height:100%; 
    background: black;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel-inner {
  height: 82vh;
  position: relative;
  margin-bottom: 50px;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.carousel-content {
    background: black; 
    text-align: center; 
    color: white;
    height:100%;
    justify-content: center;
    margin-top: 30vh;
    margin-left: 17vw;
    position: absolute;
}




  .widthControl {
      width:80%;
  }

  .carousel-indicators {
    position: relative;
    margin-bottom: 100px;
    padding-top: 50px;
    bottom: 120px;
  }


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #233F60;
    cursor: pointer;
  }

  .carousel-indicators li.active {
    background-color: #4A90E2;
    width: 14px;
    height: 14px;
    bottom: 2px;
  }

  
  .slideTitle {
      padding-bottom: 20px;
  }

  .author {
      padding-top: 31px;
  }

  .slideContent {
      font-size: 1.3rem;
      font-weight: 200;
      line-height: 32px;
  }

  .authorColor {
    color: #4A90E2;
  }

  @include media-breakpoint-up(xs) {
    .authorColor {
        color: orange;
      }

      .carousel-inner {
        height: 82vh;
        position: relative;
        margin-bottom: 80px;
      }
  
  }
  
  @include media-breakpoint-up(sm) {
    .authorColor {
        color: red;
      }
      .widthControl {
        width:81%;
    }

    .carousel-inner {
        height: 82vh;
        position: relative;
        margin-bottom: 82px;
      }
      .carousel-indicators {
        position: relative;
        margin-bottom: 100px;
        padding-top: 68px;
        bottom: 120px;
      }
  
  }
  
  @include media-breakpoint-up(md) {
    .authorColor {
        color: purple;
      }
    //   .carousel-indicators {
    //     bottom: 25%;
    //     padding-top: 31px;
    //   }
      .author {
        padding-top: 31px;
    }
    .widthControl {
        width:80%;
    }

    .carousel-inner {
        height: 82vh;
        position: relative;
        margin-bottom: 88px;
      }

      .carousel-indicators {
        position: relative;
        margin-bottom: 100px;
        padding-top: 50px;
        bottom: 120px;
      }
 
  }
  
    @include media-breakpoint-up(lg) {
        .authorColor {
            color: #4A90E2;
          }
          .carousel-inner {
            height: 82vh;
            position: relative;
            margin-bottom: 16px;
          }
  }
  
  
  