#myCarousel {
    height:90%; 
    background: black;
}

.carousel-inner {
  height: 101vh;
}


.carousel-content {
    background: black; 
    text-align: center; 
    color: white;
    height:100%;
    justify-content: center;
    margin-top: 30vh;
    margin-left: 26vw;
}


// .height-container {
//     height: 99vh;
//     width: 100%;
// }

.no-padding{
    padding-left:0;
    padding-right:0;
  }

  .widthControl {
      width:49vw;
  }


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #233F60;
    cursor: pointer;
  }

  .carousel-indicators li.active {
    background-color: #4A90E2;
    width: 14px;
    height: 14px;
    bottom: 2px;
  }

  .carousel-indicators {
    bottom: 25%;
  }
  
  .slideTitle {
      padding-bottom: 20px;
  }

  .author {
      padding-top: 31px;
  }

  .slideContent {
      font-size: 1.3rem;
      font-weight: 200;
      line-height: 32px;
  }

  .authorColor {
    color: #4A90E2;
  }