.career-image {
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: top center;
    background-blend-mode: overlay;
    background-color: #A3C281;
    height: 400px;
    position: relative;
    padding-top: 60px;
    // padding-bottom: 8rem;
    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .row {
      height: inherit;
      margin-right: 0px;
      margin-left: 0px;
    }
    .career-text {
      flex: 0;
      color: #ffffff;
      @include media-breakpoint-up(md) {
      flex: 0;
      color: #ffffff;
      margin-left: 80px;
      }
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
        @include media-breakpoint-up(md) {
          font-size: 5rem;
          font-weight: bold;
          width: 100%;
        }
      }
      h2 {
        font-size: 2.2rem;
        @include media-breakpoint-up(md) {
          font-size: 2.4rem;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 4.4rem;
        line-height: 1.3;
        @include media-breakpoint-up(md) {
          font-size: 18px;
          width: 100%;
        }
      }
    }
    .career-down {
      flex: 0;
      text-align: center;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    .career-section {
      text-transform: uppercase;
      font-weight: normal;
    }
  }
  .career-image-fullscreen {
    height: 100%;
  }
  .career-image-setheight {
    height: 460px;
  }
  .career-image-blend-overlay {
    background-blend-mode: overlay;
  }

  .contact-image .row {
      color: white;
      position: relative;
  }

  .subHeading {
      color: #24315E;
  }

  .contactInfo {
      float: right;
  }

  .secondInfo{
    float: right;
    position: absolute;
    top: 49%;
    right: 10%;
    text-align: right;
  }
  

  .address{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
  }

  .innerContainer {
    margin-top: 40%;
    margin-bottom: 54%;
    @include media-breakpoint-up(md) {
      margin-top: 12%;
      margin-bottom: 5%;
      width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  
  .absolute-who-image {
    // display: none;
    @include media-breakpoint-up(xs) {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    @include media-breakpoint-up(sm) {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        bottom: -6rem;
        right: 0px;
        top: 26rem;
        max-width: 40%;
        height: 30rem;
        @media (max-width: 833px) {
          top: 32rem;
        }
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 18rem;
        right: 0px;
        width: 28rem;
        max-width: 40%;
        height: 35rem;
    }

    @include media-breakpoint-up(xl) {
        position: absolute;
        top: 18rem;
        right: 0px;
        width: 28rem;
        max-width: 40%;
        height: 35rem;
    }

    img {
        height: 100%;
        width: 100%;
    }
}

.position-content{
  margin-top: 180px;
}

.underline { 
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  width: 80px;
  right: 39%;
  position: relative;
  margin-top: 36px;
  margin-bottom: 40px;
  @include media-breakpoint-up(sm) {
    right: 32%;
  }
  @include media-breakpoint-up(md) {
    right: 37%;
  }

  @include media-breakpoint-up(lg) {
    right: 38%;
  }

  @include media-breakpoint-up(xl) {
    right: 39%;
  }
}

.careerTitle {
  font-size: 1.8rem;
  font-family: $font-family-futura;
  color: #4A4A4a;
  opacity: 0.6;
  white-space: nowrap;
  @include media-breakpoint-up(sm) {
    padding-left: 50px;
  }
  @include media-breakpoint-up(lg) {
    padding-left: 70px;
  }
}

// .feature-career {
//   position: relative;
//   bottom: 88%;
//   right: 96%;
// }

.feature-position {
  font-weight: bold;
  white-space: nowrap;
  font-size: 21px;
}

.feature-location {
  font-size: 12px;
}

.feature-term {
  position: relative;
  left: 9%;
  bottom: 24px;
  font-size: 12px;
  @include media-breakpoint-up(xs) {
    left: 42%;
  }
  @include media-breakpoint-up(sm) {
    left: 23%;
  }
  @include media-breakpoint-up(md) {
    left: 17%;
  }
  @include media-breakpoint-up(lg) {
    left: 11%;
  }
}

.bottom-content {
  right: 45%;
  color: #AAAAAA;
  @include media-breakpoint-up(xs) {
    right: 31%;
    @media (min-width: 360px) {
      right: 30%;
    }
    @media (min-width: 411px) {
      right: 33%;
    }
  }
  @include media-breakpoint-up(sm) {
    right: 38%;
  }
  @include media-breakpoint-up(md) {
    right: 42%;
  }
  @include media-breakpoint-up(lg) {
    right: 44%;
  }
  @include media-breakpoint-up(xl) {
    right: 45%;
  }
}

.apply {
  position: absolute;
  left: 122%;
  bottom: 80%;
  @include media-breakpoint-up(xs) {
    left: 132%;
  }
  @include media-breakpoint-up(sm) {
    left: 109%;
  }
  @include media-breakpoint-up(md) {
    left: 126%;
  }
}

.apply-button {
  background-color: #4A4A4A;
  color: white;
  width: 100px;
  height: 33px;
  border-radius: 5px;
  font-family: $font-family-heading;
  font-size: 14px;
}

.career-container {
  position: relative;
  bottom: 100px;
  left: 2%;
  @include media-breakpoint-up(xs) {
    left: -17%;
    @media (min-width: 360px) {
      left: -18%;
    }
    @media (min-width: 411px) {
      left: -15%;
    }
  }
  @include media-breakpoint-up(sm) {
    left: -2%;
  }
  @include media-breakpoint-up(md) {
    left: -1%;
  }

  @include media-breakpoint-up(lg) {
    left: 1%;
  }

  @include media-breakpoint-up(xl) {
    left: 1%;
  }
}

.career-row {
  margin-left: 0;
  margin-right: 0;
}

.marketing-position-content {
  margin-top: -170px;
}

.sales-div {
  left: 0;
}