.header {
  color: $primary;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-heading;
  height: 60px;
  .logo {
    font-size: 1.75rem;
  }
  .logo-mobile {
    font-size: 1.75rem;
  }
  .menu-item {
    font-size: 1.1rem;
  }
  .container {
    display: flex;
    margin: 0 1rem;
    max-width: 100%;
    justify-content: space-between;
    align-items: center; 
  }
  &.header-absolute {
    position: fixed;
    top: 0;
    transition: all 0.4s;
    z-index: 3;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}

.realeyesLogo {
  cursor: pointer;
  font-weight:600;
}

.trademark {
  font-size:16px;
  font-weight:600;
  position:relative;
  left:110%;
  bottom:33px;
  text-rendering: optimizeLegibility;
}

.trademarkMobile {
  font-size:16px;
  font-weight:600;
  padding-left: 2px;
  // position:relative;
  // left:8.5em;
  // bottom:33px;
  // text-rendering: optimizeLegibility;
}
