.header {
  color: $primary;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-heading;
  height: 60px;
  .logo {
    font-size: 1.75em;
  }
  .menu-item {
    font-size: 1.1em;
  }
  .container {
    display: flex;
    margin: 1em 1em 0 1em;
    max-width: 100%;
    justify-content: space-between;
    align-items: center; 
    @media (min-width: 768) {
      margin: 0;
    }
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
