.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: top center;
  background-blend-mode: overlay;
  background-color: #25325A;
  height: 400px;
  position: relative;
  .quote {
    background-color: #F6E8A8;
  }
  img {
    max-width: 100%;
    height: auto
  }
  .container-fluid {
    height: inherit;
    margin: 0px;
    height: 100%;
    justify-content: center;
  }
  .bottom {
    height: 5%;
  }
  .top {
    height: 95%;
  }
  .hero-text {
    flex: 0;
    color: #ffffff;
    margin: 1.2rem;
    padding: 1.2rem;
    margin-top: 7rem;
    
    h1 {
      font-size: 2.5rem;
      font-family: Helvetica;
      font-weight: bold;
      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
      }
    }
    h2 {
      font-size: 2.5rem;
      font-family: Helvetica;
      font-weight: bold;
      color: #AFD0E2;
      @include media-breakpoint-up(md) {
        font-size: 3.5rem;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 1.5;
      padding-top: 0.5rem;
      font-family: Helvetica;
      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
      }
    }
    div {
      font-size: 0.5rem;
      margin-top: 3rem;
      width: 90%;
      @include media-breakpoint-up(md) {
        font-size: 0.85rem;
        width: 90%;
      }
    }
  }
  .study-info {
    flex: 0;
    color: #ffffff;
    padding-left: 2.4rem;
    @include media-breakpoint-up(md) {
      margin-top: 20rem;
      margin-left: 8rem;
    }
    h1 {
      font-family: Helvetica;
      margin-bottom: 0;
      font-size: 1rem;
      padding-top: 0.8rem;
      @include media-breakpoint-up(md) {
        font-size: 1rem;
      }
    }
    div {
      font-family: Helvetica;
      font-size: 0.5rem;
      @include media-breakpoint-up(md) {
        font-size: 0.7rem;
      }
    }
  }
  .arrow-next {
    color:#ffffff;
    text-align: right;
    padding: 2.4rem;
    padding-left: 0;
  }
  .arrow-prev {
    padding: 2.4rem;
    padding-right: 0;
    color:#ffffff;
  }
  .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .hero-section {
    text-transform: uppercase;
    font-weight: normal;
  }
}
.hero-image-fullscreen {
  height: 100%;
}
.hero-image-setheight {
  height: 460px;
}
// .hero-image-blend-overlay {
//   background-blend-mode: overlay;
// }
