.main-menu {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 1rem;
      > a {
        padding: 10px 14px 10px 14px;
        display: inline-block;
        font-weight: 700;
        text-decoration: none;
        color: $white;
        &:hover {
          color: #ffffff;
          border-bottom: 2px solid;
        }
      }
      &.active {
        > a {
          color: #ffffff;
          border-bottom: 2px solid;
          &:before {
            content : "";
            position: absolute;
            left    : 0;
            bottom  : 0;
            height  : 1px;
            width   : 50%;  /* or 100px */
            border-bottom:1px solid magenta;
          }
          &:hover {
            transition: all 2s ease-in 0s;
            color: #ffffff;
          }
        }
      }
      &.active:after {
        
      }
    }
  }
}
