.title {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 180px;
    font-family: $font-family-futura;
    color: #484848;
    font-size: 2em;
}

.location {
    margin-left: 180px;
    margin-top: 10px;
    color: #9C9C9C
}

.term {
    margin-left: 330px;
    position: relative;
    bottom: 13%;
    color: #9C9C9C;
}