.page-who {
    .absolute-who-image {
        @include media-breakpoint-up(xs) {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        @include media-breakpoint-up(sm) {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0;
        }

        @include media-breakpoint-up(md) {
            position: absolute;
            bottom: -20rem;
            right: 0px;
            max-width: 40%;
            height: 30rem;
        }

        @include media-breakpoint-up(lg) {
            position: absolute;
            bottom: 0rem;
            right: 0px;
            width: 28rem;
            max-width: 40%;
            height: 35rem;
        }

        @include media-breakpoint-up(xl) {
            position: absolute;
            bottom: 0rem;
            right: 0px;
            width: 28rem;
            max-width: 40%;
            height: 35rem;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }

    .solutions {
        cursor: pointer;
    }

    .blue-heading {
        font-family: 'Futura';
        color: #374685;

        @include media-breakpoint-up(xs) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(md) {
            font-size: 1.75rem;
        }
    }

    .specialization-content {
        p {
            font-size: 1.25rem;
            color: #8a8989;
        }
    }

    .block-quote {
        p {
            @include media-breakpoint-up(xs) {
                font-size: 1.5rem;
                line-height: 1.5;
            }

            @include media-breakpoint-up(md) {
                font-size: 1.75rem;
                line-height: 1.75;
            }

            font-family: 'Playfair Display';
            font-style: italic;
            color: #4A4A4A;
        }
    }

    .col-2dot4,
    .col-sm-2dot4,
    .col-md-2dot4,
    .col-lg-2dot4,
    .col-xl-2dot4 {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }

    @media (min-width: 540px) {
        .col-sm-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 720px) {
        .col-md-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 960px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    @media (min-width: 1140px) {
        .col-xl-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }

    .feature {
        height: 16rem;
        width: 15rem;
        max-width: 100%;
        max-height: 100%;
        border: 2px solid #eaeaea;
        padding: 0;
        background-color: #ffffff;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        flex-direction: column;
        text-align: center;
        transition: 1s ease;
        overflow: hidden;
        filter: grayscale(100%);
        &:hover .feature-bio {
            visibility: visible;
            transition-delay: 2s;
            opacity: 1;
            margin-top: -300px; // Makes text scroll
            background:pink; // Is only visible for first square
        }
        &:hover {
            filter: grayscale(0%);
            
        }
        .feature-image {
            flex: 0 0 auto;
            width: 100%;
            height: 100%;
            display: flex;
        }
        
        .feature-bio {
            visibility: hidden;
            position: absolute;
            text-align: left;
            top: 0;
            transition: 1s ease;
            opacity: 0;
            color: white;
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .feature-title {
            text-align: center;
            margin-bottom: 0;
        }

        .feature-content {
            margin-bottom: 0;
            margin-top: 0;
            font-size: 1.125rem;

            p {
                margin: 0;
                text-align: center;

                strong {
                    color: $secondary;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                em {
                    color: $primary;
                    font-style: normal;
                }
            }
        }
    }

}