.page-home {
    background-color: black;
    .empowered-clients {
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 3rem;
        h2 {
            font-family: 'Futura';
            color: $white;
            font-weight: 300;
        }
    }
}

// .home-content {
//     width: 100%;
//     height: 100%;
//     margin: 0 auto;
//     background-color: black;
//     background-repeat: repeat-y;
//     background-size: 100% 88px;
//     background-position: 0% 0%;
//     background-image: linear-gradient(-25deg, black, black 75px #50E2C1 10px, black 75px); 
// }

.bg {
    position: relative;
    height: 200vh;
    width: 100%;
    padding: 4px;
    background-image: url("/img/teal-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    overflow: visible;
    z-index: -1;
    background-attachment: fixed;
  }
//   .bg:after,
//   .bg:before {
//     position: absolute;
//     content: '';
//     left: 40px;
//     // bottom: -100px;
//     height: 100%;
//     width: 100%;
//     transform: rotate(45deg);
//     transform-origin: right top;
//   }
//   .bg:before {
//     top: 0px;
//     background: black;
//     transform: skewY(-50deg);
//   }
//   .bg:after {
//     top: -59%;
//     left: -10px;
//     background: #50E2C1;
//     // transform: skewY(-50deg);
//     -webkit-transform:
//         skewY(-50deg)
//         translateX(5px);
//         // rotate(-26deg);
//     z-index: -1;
//   }
//   span {
//     position: relative;
//     z-index: 2;
//   }
  