.page-home {
    background-color: black;
    .line2 {
        width: 135vw;
        height: 47px;
        border-bottom: 445px solid #50E2C1;
        -webkit-transform:
            translateY(20px)
            translateX(50px)
            rotate(-31deg);
        position: absolute;
        top: 155vh;
        left: -265px;
        overflow: hidden;
        @include media-breakpoint-up(sm) {
            display: none; 
        }
        @include media-breakpoint-up(lg) {
            display: block; 
        }
    }
    .empowered-clients {
        text-align: center;
        padding-top: 8rem;
        padding-bottom: 3rem;
        h2 {
            font-family: 'Futura';
            color: $white;
            font-weight: 300;
        }
    }
}