.sub-footer {
  background: darken(black, 10%);
  padding-top: 10%;
  // padding-bottom: 60%;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        color: lighten($secondary, 40%);
        font-size: 0.9rem;
        line-height: 1.8;
        strong {
          font-weight: bold;
          color: #ffffff;
        }
        a {
          color: lighten($secondary, 40%);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          display: inline-block;
          height: 40px;
          padding: 10px 0 10px 8px;
          font-weight: bold;
          color: #ffffff;
        }
        &.zerostatic {
          a {
            color: #ffffff;
          }
        }
      }
      @include media-breakpoint-up(sm) {
        li {
          display: inline-block;
          margin-left: 10px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.container {
  max-width: 100%;
}

.streamIt {
  margin: 0 auto;
  margin-top: 3%;
}

// .hr { 
//   display: block;
//   margin-before: 0.5em;
//   margin-after: 0.5em;
//   margin-start: auto;
//   margin-end: auto;
//   overflow: hidden;
//   border-style: inset;
//   border-width: 1px;
//   margin-top: 22%;
//   width: 80%;
//   position: absolute;
//   margin-left: 7%;
//   border: solid 2px red;
//   @include media-breakpoint-up(md) {
//     margin-before: 0.5em;
//     margin-after: 0.5em;
//     margin-start: auto;
//     margin-end: auto;
//     overflow: hidden;
//     border-style: inset;
//     border-width: 1px;
//     margin-top: 8.3rem;
//     width: 80%;
//     position: absolute;
//     margin-left: 10%;
//     border: solid 2px white;
//    }
// }

.sub-footer-bottom {
  color: white;
  position: relative;
  bottom: 31%;
  left: 10%;
  @include media-breakpoint-up(md) {
    color: white;
    position: relative;
    bottom: 31%;
    left: 10%;
    display: inline-flex;
   }
}

.mainTitle {
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  width: 73%;
  @include media-breakpoint-up(md) {
   color: white;
   font-size: 3rem;
   width: 100%;
  }
}

.fa {
  padding: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: #919191;
}



@include media-breakpoint-up(xs) {
  .hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 10rem;
    width: 80%;
    position: absolute;
    margin-left: 7%;
    border: solid 2px purple;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .spanDiv {
  order: 1;
  // display: flex;
  // right: 11%;
  // bottom: 68%;
  // margin-left: 32%;
  }

  .allRights {
    order: 2;
    display: flex;
    color: white;
    white-space: nowrap;
    left: 5rem;
    margin-bottom: 2rem;
  }

  .spanButtons {
    padding: 28px;
   white-space: nowrap;
    display: block;
    color: white;
  }

  .socialButtons {
    display: flex;
    margin-left: 3%;
    margin-bottom: 5%;
  }
  .fa-twitter {
    color: #919191;
    padding-left: 14%;
  }
}

@include media-breakpoint-up(sm) {

  .hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 10rem;
    width: 80%;
    position: absolute;
    margin-left: 7%;
    border: solid 2px blue;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 0rem;
  }
  .spanDiv {
    order: 1;
    display: flex;
    // right: 11%;
    // bottom: 68%;
    // margin-left: 32%;
  }
  
  .allRights {
    order: 2;
    display: flex;
    // bottom: 35%;
    // margin-top: 50%;
    left: 11rem;
    white-space: nowrap;
  }
  .spanButtons {
    padding: 28px;
    white-space: nowrap;
    display: inline-block;
    color: white;
  }

  .socialButtons {
    display: flex;
    margin-left: 10%;
  }

  .fa-twitter {
    color: #919191;
    padding-left: 42%;
  }
}

@include media-breakpoint-up(md) {

  .hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 8rem;
    width: 80%;
    position: absolute;
    margin-left: 7%;
    border: solid 2px green;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    margin-bottom: 0rem;
  }
  .spanDiv {
    order: 1;
    display: flex;
    margin-left: 5rem;
    bottom: 2rem;
  }
  
  .allRights {
    order: 2;
    display: flex;
    left: 28%;
    white-space: nowrap;
    bottom: 2rem;
  }

 .spanButtons {
  padding: 28px;
  white-space: nowrap;
  display: inline-block;
}

.socialButtons {
  display: flex;
  margin-left: 10%;
}

  .fa-twitter {
    color: #919191;
    padding-left: 42%;
  }
}

  @include media-breakpoint-up(lg) {
    .hr { 
      display: block;
      margin-before: 0.5em;
      margin-after: 0.5em;
      margin-start: auto;
      margin-end: auto;
      overflow: hidden;
      border-style: inset;
      border-width: 1px;
      margin-top: 8rem;
      width: 74.5rem;
      position: absolute;
      margin-left: 7%;
      border: solid 2px white;
    }
    .flex-container {
      display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-wrap: wrap
    }
    .spanDiv {
      order: 2;
      display: flex;
      bottom: 1.7rem;
      margin-left: 0rem;
    }
    
    .allRights {
      order: 1;
      display: flex;
      left: 6.3rem;
      color: white;
      white-space: nowrap;
      bottom: 0rem;
    }
    .spanButtons {
      padding: 28px;
      white-space: nowrap;
      display: inline-block;
    }

    .socialButtons {
      display: flex;
      margin-left: 10%;
    }

    .fa-twitter {
      color: #919191;
      padding-left: 42%;
    }
}
