.sub-footer {
  background: darken(black, 10%);
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  h1 {
    color: white;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        color: lighten($secondary, 40%);
        font-size: 0.9rem;
        line-height: 1.8;
        strong {
          font-weight: bold;
          color: #ffffff;
        }
        a {
          color: lighten($secondary, 40%);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          display: inline-block;
          height: 40px;
          padding: 10px 0 10px 8px;
          font-weight: bold;
          color: #ffffff;
        }
        &.zerostatic {
          a {
            color: #ffffff;
          }
        }
      }
      @include media-breakpoint-up(sm) {
        li {
          display: inline-block;
          margin-left: 10px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.streamIt {
  margin: 0 auto;
  margin-top: 3%;
}

.hr { 
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin-bottom: 60px;
  margin-top: 8rem;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  border: solid 2px white;
}
