.sub-footer {
  background: darken(black, 10%);
  padding-top: 20px;
  padding-bottom: 20px;
  @include media-breakpoint-up(md) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    @include media-breakpoint-up(md) {
      flex-direction: row;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: block;
        color: lighten($secondary, 40%);
        font-size: 0.9rem;
        line-height: 1.8;
        strong {
          font-weight: bold;
          color: #ffffff;
        }
        a {
          color: lighten($secondary, 40%);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        span {
          display: inline-block;
          height: 40px;
          padding: 10px 0 10px 8px;
          font-weight: bold;
          color: #ffffff;
        }
        &.zerostatic {
          a {
            color: #ffffff;
          }
        }
      }
      @include media-breakpoint-up(sm) {
        li {
          display: inline-block;
          margin-left: 10px;
          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.streamIt {
  margin: 0 auto;
  margin-top: 3%;
}

.hr { 
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  // margin-bottom: 60px;
  margin-top: 11rem;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  border: solid 2px white;
  @include media-breakpoint-up(md) {
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    // margin-bottom: 60px;
    margin-top: 8.3rem;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    border: solid 2px white;
   }
}

.sub-footer-bottom {
  color: white;
  position: relative;
  bottom: 31%;
  left: 10%;
  display: inline-flex;
}

.mainTitle {
  color: white;
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  width: 73%;
  @include media-breakpoint-up(md) {
   color: white;
   font-size: 3rem;
   width: 100%;
  }
}

// .option-buttons {
//   display: inline-block;
// }

.spanButtons {
  padding: 22px;
}

.spanDiv {
  display: flex;
  right: 11%;
  bottom: 70%;
}

.allRights {
  display: flex;
  bottom: 35%;
}

.fa {
  
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

