{{ define "header_css" }}{{ end }}
{{ define "header_classes" }}{{ end }}

  <div id="wrapper" class="wrapper">
    <div class="container pt-9 pb-9 pt-md-13 pb-md-13">
      <div class="row justify-content-center align-content-between">
        <div class="col-9 text-center">
          <h1 class="display-1 text-primary mb-4">Page not found</h1>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="{{ .Site.BaseURL }}" class="btn btn-primary">Home</a>
        </div>
        <div class="col-9 text-center mb-2">
          <a href="{{ .Site.BaseURL }}/contact" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
    </div>

  </div>
