{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "contact-hero-header.html" (dict "background" .Params.contactBackground "heading" .Params.contactHeading "subheading" .Params.contactSubHeading "content" .)}}


<div class="intro intro-small">
  <div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
          </div>
      <div class="col-6">
        <h1 class="contactTitle">{{ .Title }}</h1>
      </div>
      <div class="col-6">
          <form id="myForm">
        
              <label for="help">I would like RealEyes to help with</label>
              <select id="help" name="help">
                <option value="option1">Option1</option>
                <option value="option2">Option2</option>
                <option value="option3">Option3</option>
              </select>
        
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname">
        
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
        
            <label for="email">Phone Number</label>
            <input type="text" id="phone" name="phone">
        
            <label for="company">Company</label>
            <input type="text" id="company" name="company">
        
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <input type="submit" value="Submit">
        
          </form>
        </div>
        <div class="col-12">
          <hr>
        </div>
        <div class="row centerText">
        <div class="col-12 col-lg-6">
            <h4 class="bottomSubtitle">New Business Enquiries</h4>
            <span class="bottomSpan">We are a technology company with our own innovative products, and we are also a consultancy. Whatever it takes to ensure success, whether it’s with our own technology or someone else’s, we will work with you to develop the best solutions to meet your goals. Interested in learning how RealEyes can help? Let’s talk!</span>
          </div>
          <div class="col-12 col-lg-6 joinTeam">
              <h4 class="bottomSubtitle">Join Our Team</h4>
              <span class="bottomSpan">We’re growing, are you ready to grow with us? If you are an innovative, creative thinker who is passionate about technology and how it can change the way people experience media, we would love to hear from you. Email us at careers [at] realeyes.com and let us know how you would be a good fit for our team!</span>
            </div>
            </div>
    </div>
  </div>
</div>
{{ end }}