{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

{{ partial "contact-hero-header.html" (dict "background" .Params.contactBackground "heading" .Params.contactHeading "subheading" .Params.contactSubHeading "content" .)}}


<div class="intro intro-small">
  <div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
          </div>
          <div class="col-12">
            <h1 id="contactTitle">{{ .Title }}</h1>
            </div>
      <div class="col-6 offset-3">
          <form id="myForm" class="needs-validation" novalidate>
          <div class="form-group">
            <label class="form-label" for="help">I would like RealEyes to help with</label>
            <select class="custom-select form-control">
                <option value="Development and/or Consulting">Development and/or Consulting</option>
                 <option value="Products">Products</option>
                 <option value="Careers">Careers</option>
                 <option value="Training">Training</option>
                 <option value="I just have a question">I just have a question</option>
              </select>
              <div class="invalid-feedback">Example invalid custom select feedback</div>
          </div>
          <div class="form-group">
            <label class="form-label" for="fname">First Name</label>
            <input class="form-control" type="text" id="fname" name="firstname" required>
              <div class="invalid-feedback">
                  Please fill out first name.
                </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="lname">Last Name</label>
            <input class="form-control" type="text" id="lname" name="lastname" required>
              <div class="invalid-feedback">
                  Please fill out last name.
                </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" required>
              <div class="invalid-feedback">
                  Please enter valid email.
                </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="password">Phone Number</label>
            <input class="form-control" type="number" id="phone" name="phone">
              <div id="phoneError" class="invalid-feedback">
                  Please complete phone number.
                </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="company">Company</label>
            <input class="form-control" type="text" id="company" name="company">
              <div class="invalid-feedback">
                  Please fill out company.
                </div>
          </div>
          <div class="form-group">
            <label class="form-label" for="subject">Details</label>
            <textarea class="form-control" id="subject" name="subject"
              style="height:200px"></textarea>
                <div class="invalid-feedback">
                    Please fill out subject.
                  </div>
            <input id="submitButton" type="submit" value="SUBMIT">
          </div>
          <div id="result" style="display: none;">Email Sent!</div>
        </form>
      </div>
        <div class="col-12">
          <hr>
        </div>
        <!-- <div class="row">
        <div class="col-12 col-lg-6">
            <h4 class="bottomSubtitle">New Business Inquiries</h4>
            <span class="bottomSpan">We are a technology company with our own innovative products, and we are also a consultancy. Whatever it takes to ensure success, whether it’s with our own technology or someone else’s, we will work with you to develop the best solutions to meet your goals. Interested in learning how RealEyes can help? Let’s talk!</span>
          </div>
          <div class="col-12 col-lg-6 joinTeam">
              <h4 class="bottomSubtitle">Join Our Team</h4>
              <span class="bottomSpan">We’re growing, are you ready to grow with us? If you are an innovative, creative thinker who is passionate about technology and how it can change the way people experience media, we would love to hear from you. Email us at careers [at] realeyes.com and let us know how you would be a good fit for our team!</span>
            </div>
            </div> -->
    </div>
  </div>
</div>
<!-- <script>
  function checkPhone() {
    var phoneNumber = document.forms["myForm"]["phone"].value;
    console.log("YOOOOO", phoneNumber);
    if (phoneNumber.length < 10) {
      $('#phoneError').show();
    } else {
      $('#phoneError').hide();
    }
  }

</script> -->
<script>
    (function() {
      'use strict';
      window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
      if (form.checkValidity() === false) {
      event.preventDefault();
      event.stopPropagation();
      }
      form.classList.add('was-validated');
      if ($('#myForm').valid() === false) {
        console.log('not valid');
    } else {
      $('#result').show();
      setTimeout(function() {
        form.reset();
        $("#result").hide()
        form.classList.remove('was-validated');
    }, 3000);
    }
      }, false);
      });
      }, false);
      })();
</script>
{{ end }}