{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-career{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "career-hero-header.html" (dict "background" .Params.careerBackground "heading" .Params.careerHeading "subheading" .Params.careerSubHeading "subheading1"  .Params.careerContent "content" .)}}
<div class="absolute-who-image col-sm-12 col-md-5"><img src="{{ .Site.BaseURL }}/img/team-shot.jpeg" /></div>


<div class="position-content">
    <div class="container">
      <div class="row">
            <div class="col-12">
              <h1 class="careerTitle">{{ .Title }}</h1>
              <hr class="underline">
              </div>
              <div class="container-fluid pt-8 pb-8 pt-md-10 pb-md-10 pl-6 pr-6">
                <div class="row justify-content-center">
                    {{ range .Site.Data.careers }}
                    <div class="col-12 col-xl-2dot4 col-lg-3 col-md-4 pb-4">
                        <div class="feature-career">
                           {{ if .position }}
                                <div class="feature-position">{{ .position }}</div>
                                {{ end }}
                            </div>
                        </div>
                        <div class="col-12 col-xl-2dot4 col-lg-3 col-md-4 pb-4 bottom-content">
                        <h2 class="feature-location text-center pt-2 mb-0">{{ .location }}</h2>
                        <p class="feature-term text-center">{{ .term }}</p>
                        <div class="apply">
                            <button class="apply-button">Apply</button>
                        </div>
                    </div>
                    </div>
                    {{end}}
                </div>
            </div>
      </div>
    </div>
  </div>

{{ end }}