{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "meta_tags" }}
<meta property="og:image" content="http://static.realeyes.cloud/reWebsite/Hompage-optimized-delivery-workflows.jpg" />
{{ end }}

{{ define "main" }}
{{ partial "career-list-header.html" (dict "background" .Params.careerBackground "heading" .Params.careerHeading "subheading" .Params.careerSubHeading "subheading1"  .Params.careerContent "content" .)}}
<div class="absolute-career-image  col-sm-12 col-md-5"><img src="{{ .Site.BaseURL }}/img/team-shot3.jpeg" /></div>
<div class="container category-container">
    <div class="row category-row">
            {{ range .Site.Data.jobTypes}}
            <div class="col-12">
                    <div class="col-12 tax careerTitle">{{ .jobType }}</div>
                    <hr class="underline">
              
                    {{ range where $.Pages.ByDate "Params.title" .jobType }}
                    <div class="col-12 mr-0 ml-0 pr-0 pl-0 tax career-column">{{ .Render "summary" }}</div>
                    {{ end }}
            </div>
    {{ end }}
    </div>
</div>
{{ end }}
