    <div class="position-content">
    <div class="container">
    <div class="row">
        {{/*  <div class="col-12">
            <h1 class="careerTitle">{{.Title}}</h1>
            <hr class="underline">
        </div>  */}}
        <div class="container-fluid pt-8 pl-6 pr-6 career-container">
                <div class="row">
                    <div class="col-12">
                        <div class="feature-career">
                            <a href="{{ .Permalink }}" class="feature-position">{{.Params.position}}</a>
                        </div>
                    </div>
                    <div class="col-12  bottom-content">
                        <h2 class="feature-location text-center">{{.Params.location}}</h2>
                        <p class="feature-term text-center">{{.Params.term}}</p>
                        <div class="apply">
                             <button onclick="window.location='{{ .Site.BaseURL }}/contact#myForm'" class="apply-button">Apply</button>
                            </div>  
                    </div>
                </div>
        </div>
    </div>  
</div> 
</div>

