{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-services-list{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "blog-list-header.html" (dict "categories" .Site.Taxonomies.categories)}}
<div class="search-bar pl-2 ml-0 pl-md-5">
    <input id="search" autocomplete="off" type="text" onkeydown="if ( event.keyCode == 27 ) this.value=''">
    <ul class="list-group" id="results">
    </ul>
</div>
<div class="container pb-6 pt-4 pb-md-10">
    <div class="row">
        {{ range .Pages.ByWeight }}
        <div class="col-12 col-md-4 mr-0 ml-0 pr-0 pl-0 tax">{{ .Render "summary" }}</div>
        {{ end }}
    </div>
</div>
{{ end }}