{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="hero-image-setheight-lg" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.backgroundImage }}')"
    ;>

</div>
<div class="container pl-3 pr-3">
    <div class="row">
        <div class="col-12 title-card">
        <div class="card-content">
        <div class="blog-title">{{ .Params.headerColorOne}} <span class="headerColorTwo">{{.Params.headerColorTwo}}</span></div>
        <div class="blog-subtitle">{{ .Params.subtitle}}</div>
        <div class="blog-author">by {{ .Params.author}}</div>
        </div>
        <div class="previous">&larr; Previous</div>
        <div class="next">&rarr; Next</div>
        </div>
    </div>
    <p class="">{{ .Content}}</p>
</div>
</div>
{{ end }}