{{ $bundle := .Get 0 }}
{{ $match := .Get 1 }}
{{ $page := .Page.Site.GetPage $bundle }}
{{ with $page }}
{{ $resource := $page.Resources.GetMatch (printf "**%s*" $match ) }}
{{ with $resource }}
<div class="strip">
  <div class="row">
    <div class="serviceLeftGradient bg-cover bg-position-center bg-overlay col-8 pt-18 pb-18"
      style="background-image: url(' {{ .Params.background | relURL }} ');">
    </div>
    <div class="col-4 pt-20 pb-20 text-white" style="background-color: black">
      <p class="serviceNameLeft">{{ .Params.service }}</p>
      <h2 class="serviceHeaderLeft">{{ .Params.header }}</h2>
      <!-- <div class="serviceRightText"> -->
      <p class="serviceContentLeft">{{ .Params.description }}</p>
      {{ if .Params.button }}
      <a class="serviceButtonLeft text-primary" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}<img
          class="serviceIcon text-primary" src="/images/iconmonstr-arrow-right-thin-240-blue.png"></a>
      {{ end }}
      <!-- </div> -->
    </div>
  </div>
  {{ end }}
  {{ end }}