{{ $bundle := .Get 0 }}
{{ $match := .Get 1 }}
{{ $page := .Page.Site.GetPage $bundle }}
{{ with $page }}
{{ $resource := $page.Resources.GetMatch (printf "**%s*" $match ) }}
{{ with $resource }}
<div class="strip">
  <div class="row">

    <div class="bg-cover bg-position-center bg-overlay col-8 pt-15 pb-15"
      style="background-image: url(' {{ .Params.background | relURL }} ');">

    </div>
    <div class="serviceLeft col-4 pt-15 pb-15">
      {{ .Content }}
      {{ if .Params.button }}
      <a class="button button-primary" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button}}</a>
      {{ end }}
    </div>
  </div>
</div>

{{ end }}
{{ end }}