/*
 The default CSS file.

 You can use @import here to include CSS inside folders
*/
@import "imports/reset.css";

.hero-text-left {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.who-left {
  width: 30%;
}



.serviceRightGradient::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to left, transparent 0%, black 100%);
}

.serviceLeftGradient::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, transparent 0%, black 100%);
}



.serviceName {
  font-size: .75rem;
  position: absolute;
  top: 5%;
  margin-left: 1rem;
}

.serviceRightText {
  position: absolute;
  margin-left: 1rem;
  top: 15%;
  z-index: 2;

}
.serviceHeader {
  font-weight: 700;
  position: relative;
}

.serviceContent {
  position: relative;
  font-size: 1rem;
  margin-top: 2rem;
}

.serviceButton {
  position: relative;
  font-size: .8rem;
}

.serviceIcon {
  filter: grayscale(20%);
  max-width: 1rem;
  margin-left: .65rem;
}

.serviceNameLeft {
  font-size: .75rem;
  position: absolute;
  margin-left: -2rem;
  top: 5%;
  width: 100%;
  text-align: right;
}

.serviceLeftText {
  position: absolute;
  text-align: right;
  margin-right: 1.5rem;
  top: 15%;
  z-index: 2;
}

.serviceHeaderLeft {
  font-weight: 700;
  position: relative;
}

.serviceContentLeft {
  position: relative;
  font-size: 1rem;
  margin-left: -10rem;
  margin-top: 2rem;
}

.serviceButtonLeft {
  position: relative;
  width: 100%;
  font-size: .8rem;
}

/* Mobile Styles for Services Section */
.serviceImage {
  max-width: 100%;
}