/*
 The default CSS file.

 You can use @import here to include CSS inside folders
*/
@import "imports/reset.css";

.hero-text-left {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.who-left {
  width: 30%;
}

.serviceRightGradient::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to left, transparent 0%, black 100%);
}

.serviceLeftGradient::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(to right, transparent 0%, black 100%);
}

.servicesDesktop {
  margin-bottom: 5rem;
}

.serviceName {
  font-size: .75rem;
  position: absolute;
  top: 5%;
  padding-left: 1rem;
}

.serviceRightText {
  position: absolute;
  top: 15%;
  z-index: 2;
  padding-left: 1rem;

}

.serviceHeader {
  font-weight: 700;
  position: relative;
  margin-right: -12rem;
  font-size: 5.5vw;
}

@media (min-width: 1200px) {
  .serviceHeader {
    font-size: 4vw;
    margin-right: -58vw;
  }

}

.serviceContent {
  position: relative;
  font-size: large;
  margin-top: 2rem;
}

.serviceButton {
  position: relative;
  font-size: .8rem;
}

.serviceIcon {
  filter: grayscale(20%);
  max-width: 1rem;
  margin-left: .65rem;
}

.serviceNameLeft {
  font-size: .75rem;
  position: absolute;
  margin-left: -.8rem;
  top: 5%;
  width: 100%;
  text-align: right;
  padding-right: 1.5rem;
}

.serviceLeftText {
  position: relative;
  text-align: right;
  margin-top: 2rem;
  z-index: 2;
  padding-right: 1rem;
}

.serviceHeaderLeft {
  font-weight: 700;
  position: relative;
  margin-left: -12rem;
  margin-top: 5rem;
  font-size: 5.5vw;
}

@media (min-width: 1200px) {
  .serviceHeaderLeft {
    font-size: 4vw;
    margin-left: -58vw;
    margin-top: 3.5rem;

  }
}

.serviceContentLeft {
  position: relative;
  font-size: large;
  margin-top: 2rem;
}

.serviceButtonLeft {
  position: relative;
  width: 100%;
  font-size: .8rem;
}

@media (max-width: 1200px) {
  .serviceMakeTaller {
    padding-top: 300px;
    padding-bottom: 300px;
  }

  .serviceMakeTallerLeft {
    height: 600px;
  }
}

.company-logo-wrapper {
  display: inline-flex;
  max-height: 20rem;
  filter: grayscale(100%);
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20rem;
}

.company-logo {
  height: 4.5rem;
  width: auto;
}

@media (max-width: 767px) {
  .company-logo {
    height: 2.3rem;
  }
}

/* Mobile Styles for Services Section */
.serviceImage {
  width: 100vw;
  position: relative;
  margin: 2rem 0;
}

.servicesMobileName {
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.servicesMobileHeader {
  margin: 0 5.5rem 1rem 2rem;
}

.servicesMobileDescription {
  margin: 0 2rem;
  font-size: x-large;
  line-height: 1.3;
}

.servicesMobileText {
  margin-bottom: 15rem;
  font-size: x-large;
}

.fontFamily {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}