{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-work-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "case-study-image.html" (dict "background" .Params.heroBackground "heading1" .Params.heroHeading1 "heading2" .Params.heroHeading2 "subheading" .Params.heroSubHeading "description" .Params.description "quote" .Params.quote "quotee" .Params.quotee "quoteeInfo" .Params.quoteeInfo "content" .)}}
{{ if .NextPage }}
<div class="row bottom">
        <a class="col-6 arrow-prev">&#8592 Previous</a>
        <a href="{{ .NextPage.Permalink }}" class="col-6 arrow-next">Next &#8594</a>
    </div>
    <p style="color:red"> {{.Pages}} </p>
    {{ end }}
<div class="container-fluid">
    <div style="padding: 3rem">
        <p>{{ .Content }}</p>
    </div>
</div>
{{ end }}