<div id="contact" class="contact-image contact-image-fullscreen" style="background-image: url('{{ .background | relURL }}')">
    <div class="container">
        <div class="row">
        <div class="col-6 col-xs-6">
      <div class="contact-text">
        <span class="contact-section">{{ .section }}</span>
        <h1>{{ .heading }}</h1>
        <h1 class="streamIt">We'll stream it</h1>
      </br>
        <p>{{ .subheading }}</p>
      </div>
      </div>
      <div class="col-6 col-xs-6">
            <div class="secondInfo">
            <p class="address">Denver, CO<br>
            940 Logan Street</p>
            <a class="viewMap" href="https://www.google.com/maps/place/940+Logan+St,+Denver,+CO+80203/@39.7311707,-104.984132,17z/data=!3m1!4b1!4m5!3m4!1s0x876c7ed71d2b15bd:0x488277377a7741ef!8m2!3d39.7311707!4d-104.9819433">View Map</a>
            <p>info@realeyes.com<br>
                1+ (303) 433.3311</p>
            </div>
      </div>
    </div>
    </div>
  </div>
    