<div id="contact" class="contact-image contact-image-setheight" style="background-image: url('{{ .background | relURL }}')">
    <div class="container">
      <div class="contact-text">
        <span class="contact-section">{{ .section }}</span>
        <h1>{{ .heading }}</h1>
        <h1 class="streamIt">We'll stream it</h1>
      </br>
        <p>{{ .subheading }}</p>
      </div>
      <div class="row">
          <div class="col-12">
            <div>
            <p>Denver, CO
            940 Logan Street</p>
            </div>
            <div>
            <p>info@realeyes.com</p>
            <p>1+ (303) 433.3311</p>
            </div>
    </div>
    </div>
    </div>
  </div>
    