<div class='header header-absolute'>
  <div class="container">
    <div class="logo">
      <div onclick="location.href='{{ .Site.BaseURL }}';" class="realeyesLogo">realeyes<span class="trademark">&#174;</span></div>
      {{/*  <div class="trademark">&#174;</div>  */}}
    </div>
    <div class="logo-mobile">
      <div onclick="location.href='{{ .Site.BaseURL }}';" class="realeyesLogo">realeyes<span class="trademarkMobile">&#174;</span></div>
      {{/*  <div class="trademarkMobile">&#174;</div>  */}}
    </div>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>