{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-who{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
{{ partial "hero-solid-color.html" (dict "background" "#da6161" "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "heroContent" .Params.heroContent "content" .)}}
{{ $headless := .Site.GetPage "/who/who-content" }}
<div class="absolute-who-image col-sm-12 col-md-5"><img src="{{ .Site.BaseURL }}/img/camera.png" /></div>
<div class="container-fluid pt-4 pt-md-10 pb-4 pb-md-8 pl-6 text-left content mobile-hide">
    <div class="row">
        <div class="col-sm-12 col-md-6 pb-3">
            <h2>Real Solutions</h2>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-3 ">
            <p class="solutions" id="platform" style="font-weight: bold">MEDIA PLATFORM AUGMENTATION & ENHANCEMENTS</p>
            <p class="solutions" id="bespoke">BESPOKE DEVELOPMENT</p>
            <p class="solutions" id="workflow">MEDIA WORKFLOW SOLUTIONS/AUGMENTATION</p>
            <p class="solutions" id="streaming">LIVE STREAMING PLATFORM SOLUTIONS</p>
            <p class="solutions" id="consulting">CONSULTING</p>
            <p class="solutions" id="products">PRODUCTS</p>
        </div>
        {{ $page := $headless.Resources.Match "solutions*" }}
        {{ range $page }}
        <div class="col-sm-12 col-md-8 pl-md-8 {{ .Params.class }}">
            <h2 class="col-md-10 pl-0">{{ .Params.heading }}</h2>
            <div class="col-md-6 pl-0 pt-5">{{ .Content }}</div>
        </div>
        {{ end }}
    </div>
</div>
<div class="container-fluid mobile-accordion">
    <div class="col-sm-12 col-md-6 pb-3">
        <h2>Real Solutions</h2>
    </div>
    {{ $page := $headless.Resources.Match "solutions*" }}
    {{ range $page }}
    <button class="accordion col-12">
        <div class="col-11 pl-0">{{ .Params.mobileHeading }}</div>
        <img src="{{ .Site.BaseURL }}/img/minus.png" />
    </button>
    <div class="panel">
        <p>{{ .Content }}</p>
    </div>
    {{ end }}
</div>
<div class="container-fluid pb-4 pl-md-8 pr-md-8 pb-md-10 content">
    <div class="row" style="background-color: #f3f3f3">
        {{ $page := $headless.Resources.Match "specializations*" }}
        {{ range $page }}
        <div class="col-sm-12 col-md-4 text-center pl-md-6 pr-md-6 pt-6 pb-6">
            <h2 class="blue-heading">{{ .Params.heading }}</h2>
            <div class="solution-content">{{ .Content }}</div>
        </div>
        {{ end }}
    </div>
</div>
<div class="container-fluid content" style="background-color: #f3f3f3">
    <h2 class="pl-6 pt-8 pt-md-12" style="font-weight: 500; font-size: 2rem">Real People</h2>
    {{ $page := $headless.Resources.Match "real-people*" }}
    {{ range $page }}
    <div class="block-quote pt-6 pb-6 pl-md-6 pr-md-6">
        {{ .Content }}
    </div>
    {{ end }}
    <div class="container-fluid pt-8 pb-8 pt-md-10 pb-md-10 pl-6 pr-6">
        <div class="row justify-content-center">
            {{ range .Site.Data.bio }}
            <div class="col-12 col-xl-2dot4 col-lg-3 col-md-4 pb-4">
                <div class="feature">
                    {{ if .image }}<div class="feature-image"><img alt="{{ .name }} logo"
                            src="{{ $.Site.BaseURL }}/{{ .image }}" /></div> {{ end }}
                </div>
                <h2 class="feature-title text-center pt-2 mb-0">{{ .name }}</h2>
                <p class="feature-content text-center">{{ .position }}</p>
            </div>
            {{end}}
        </div>
    </div>
</div>

{{ end }}